/* flyoui - Independent Tailwind 4 CSS */
@import "tailwindcss";

/* Import flyonui from workspace */
/*@import "@coss/flyonui/flyonui.css"; */

@theme  {
  --color-base-100: oklch(99.43% 0.001 286.38);
  --color-base-200: oklch(97.33% 0.008 271.33);
  --color-base-300: oklch(48.52% 0.0225 279.09);
  --color-base-content: oklch(42.06% 0.049 276.53);
  --color-primary: oklch(62.31% 0.188 259.81);
  --color-primary-content: oklch(97.05% 0.014 254.6);
  --color-secondary:oklch(76.662% .135 153.45);
  --color-secondary-content: oklch(33.387% .04 162.24);
  --color-accent: oklch(72.772% .149 33.2);
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(0.447 0.0732 274.26);
  --color-neutral-content: oklch(82.15% 0.055 277.12);
  --color-info: oklch(70.38% 0.123 182.5);
  --color-info-content: oklch(98.36% 0.014 180.72);
  --color-success: oklch(76.81% 0.204 130.85);
  --color-success-content: oklch(98.57% 0.031 120.76);
  --color-warning: oklch(79.52% 0.162 86.05);
  --color-warning-content: oklch(98.73% 0.026 102.21);
  --color-error: oklch(64.5% 0.215 16.44);
  --color-error-content: oklch(96.94% 0.015 12.42);
  --radius-selector: 1rem;
  --radius-field: 12px;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@import "../../../packages/flyonui/src/index.css";







/*@plugin "@coss/flyonui";*/

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--flyo-background);
  --color-foreground: var(--flyo-foreground);

  
  --color-muted: var(--flyo-muted);
  --color-muted-foreground: var(--flyo-muted-foreground);

  --color-border: var(--flyo-border);
  --color-input: var(--flyo-input);
  --color-ring: var(--flyo-ring);
  --color-card: var(--flyo-card);
  --color-card-foreground: var(--flyo-card-foreground);
  --color-popover: var(--flyo-popover);
  --color-popover-foreground: var(--flyo-popover-foreground);
  
  --radius-sm: calc(var(--flyo-radius) - 4px);
  --radius-md: calc(var(--flyo-radius) - 2px);
  --radius-lg: var(--flyo-radius);
  --radius-xl: calc(var(--flyo-radius) + 4px);
  
  --font-sans: var(--font-sans);
}

:root {
  --flyo-radius: 0.625rem;
  --flyo-background: var(--color-white);
  --flyo-foreground: var(--color-zinc-900);
  --flyo-card: var(--color-white);
  --flyo-card-foreground: var(--color-zinc-900);
  --flyo-popover: var(--color-white);
  --flyo-popover-foreground: var(--color-zinc-900);
  
  --flyo-muted: --alpha(var(--color-black) / 4%);
  --flyo-muted-foreground: var(--color-zinc-600);
 
  --flyo-border: --alpha(var(--color-black) / 12%);
  --flyo-input: --alpha(var(--color-black) / 12%);
  --flyo-ring: var(--color-zinc-400);
}

.dark {
  --flyo-background: var(--color-zinc-950);
  --flyo-foreground: var(--color-zinc-100);
  --flyo-card: color-mix(in srgb, var(--color-zinc-900) 80%, var(--color-zinc-950));
  --flyo-card-foreground: var(--color-zinc-100);
  --flyo-popover: var(--color-zinc-900);
  --flyo-popover-foreground: var(--color-zinc-100);
  
  --flyo-muted: --alpha(var(--color-white) / 6%);
  --flyo-muted-foreground: var(--color-zinc-400);
 
  --flyo-border: --alpha(var(--color-white) / 12%);
  --flyo-input: --alpha(var(--color-white) / 12%);
  --flyo-ring: var(--color-zinc-500);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}

/* ============================================
   FLYOUI COMPONENTS
   ============================================ */

@layer components {
  /* Scope for flyoui components */
  .flyoui-scope {
   
   
  }
}


.after-boder-content::after{
    border-style: var(--tw-border-style);
    border-width: 1px;
    border: 1px solid color-mix(in oklab, var(--flyo-border) 50%, transparent);
    background-color:transparent;
    padding: 20px;
    position: absolute;
    inset: -7px;
    z-index: 9999;
}


.flyoui-scope{
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
}

body, html {
  font-family: 'pangram';
  font-weight: 400;
}

.font-Avenir{
  font-family: 'Avenir', sans-serif !important;
}

.box-shadow-ln{
      --tw-shadow: 0 1px 1px 0.5px rgba(51, 51, 51, .04), 0 3px 3px -1.5px rgba(51, 51, 51, .02), 0 6px 6px -3px rgba(51, 51, 51, .04), 0 12px 12px -6px rgba(51, 51, 51, .04), 0 24px 24px -12px rgba(51, 51, 51, .04), 0 48px 48px -24px rgba(51, 51, 51, .04), 0 0 0 1px rgba(51, 51, 51, .1), inset 0 -1px 1px -0.5px rgba(51, 51, 51, .06);
    --tw-shadow-colored: 0 1px 1px 0.5px var(--tw-shadow-color), 0 3px 3px -1.5px var(--tw-shadow-color), 0 6px 6px -3px var(--tw-shadow-color), 0 12px 12px -6px var(--tw-shadow-color), 0 24px 24px -12px var(--tw-shadow-color), 0 48px 48px -24px var(--tw-shadow-color), 0 0 0 1px var(--tw-shadow-color), inset 0 -1px 1px -0.5px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.data-pressed\:bg-accent[data-pressed]{
  background-color: transparent;
  --tw-shadow: 0 1px 1px .5px #3333330a, 0 3px 3px -1.5px #33333305, 0 6px 6px -3px #3333330a, 0 12px 12px -6px #3333330a, 0 24px 24px -12px #3333330a, 0 48px 48px -24px #3333330a, 0 0 0 1px #3333331a, inset 0 -1px 1px -.5px #3333330f;
  --tw-shadow-colored: 0 1px 1px .5px var(--tw-shadow-color), 0 3px 3px -1.5px var(--tw-shadow-color), 0 6px 6px -3px var(--tw-shadow-color), 0 12px 12px -6px var(--tw-shadow-color), 0 24px 24px -12px var(--tw-shadow-color), 0 48px 48px -24px var(--tw-shadow-color), 0 0 0 1px var(--tw-shadow-color), inset 0 -1px 1px -.5px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  color: var(--color-base-content);
}


.html-tabs button[data-slot] {
  background-color: transparent;
}

.html-tabs *[data-slot="tab-indicator"] {
  background-color: transparent;
  box-shadow: none;
}
